aiodns==3.0.0
aiofiles==0.7.0
aiohttp==3.7.4.post0
alive-progress==1.6.2
amazoncaptcha==0.5.2
anyio==3.1.0
appdirs==1.4.4
argon2-cffi==20.1.0
art==5.3
async-generator==1.10
async-timeout==3.0.1
asyncio==3.4.3
attrs==21.2.0
autopep8==1.5.7
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
blinker==1.4
bs4==0.0.1
cachetools==4.2.2
cchardet==2.1.7
certifi==2020.12.5
cffi==1.14.5
cfgv==3.3.0
chardet==3.0.4
charset-normalizer==2.0.4
click==8.0.1
cloudscraper==1.2.58
colorama==0.4.4
comtypes==1.1.10
configparser==5.0.2
crayons==0.4.0
cryptography==3.4.7
cs50==7.0.2
cssselect==1.1.0
cycler==0.10.0
dateparser==1.0.0
DateTime==4.3
decorator==5.0.9
defusedxml==0.7.1
demjson==2.2.4
distlib==0.3.2
docopt==0.6.2
entrypoints==0.3
et-xmlfile==1.1.0
facebook-scraper==0.2.42
fake-useragent==0.1.11
filelock==3.0.12
Flask==2.0.2
future==0.18.2
futures==3.1.1
geckodriver-autoinstaller==0.1.0
google-api-core==1.30.0
google-auth==1.32.0
google-cloud-core==1.7.1
google-cloud-translate==3.2.1
google-trans-new==1.1.9
googleapis-common-protos==1.53.0
googletrans==3.0.0
goslate==1.5.1
greenlet==1.1.2
grpcio==1.38.1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
html5lib==1.1
httmock==1.4.0
http-request-randomizer==1.3.2
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
identify==2.2.10
idna==2.10
ipykernel==5.5.5
ipython==7.24.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
javascript==1!0.2.10
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
Js2Py==0.71
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-server==1.8.0
jupyterlab==3.0.16
jupyterlab-pygments==0.1.2
jupyterlab-server==2.5.2
kaitaistruct==0.9
kiwisolver==1.3.2
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
mistune==0.8.4
multidict==5.1.0
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
nodeenv==1.6.0
notebook==6.4.0
numpy==1.20.3
openpyxl==3.0.7
packaging==20.9
pandas==1.3.0
pandas-datareader==0.9.0
pandocfilters==1.4.3
parse==1.19.0
parso==0.8.2
PDFNetPython3==9.1.0
pickleshare==0.7.5
Pillow==8.3.1
pipreqs==0.4.10
pluggy==0.13.1
pre-commit==2.13.0
prometheus-client==0.10.1
prompt-toolkit==3.0.18
proto-plus==1.19.0
protobuf==3.17.3
psutil==5.8.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.0.0
pycodestyle==2.7.0
pycparser==2.20
pydivert==2.1.0
pyee==8.1.0
Pygments==2.9.0
pyjsparser==2.7.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.2
pypiwin32==223
pyppeteer==0.2.5
pyquery==1.4.3
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
pyttsx3==2.90
pytube==11.0.0
pytz==2021.1
pywin32==300
pywinpty==1.1.1
PyYAML==5.4.1
pyzmq==22.1.0
regex==2021.4.4
reportlab==3.6.2
requests==2.26.0
requests-futures==1.0.0
requests-html==0.10.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.7.0
selenium==3.141.0
selenium-stealth==1.0.6
selenium-wire==4.3.0
Send2Trash==1.5.0
six==1.16.0
sklearn==0.0
sniffio==1.2.0
soupsieve==2.2.1
SQLAlchemy==1.4.26
sqlparse==0.4.2
termcolor==1.1.0
terminado==0.10.0
testpath==0.5.0
threadpoolctl==2.2.0
toml==0.10.2
tornado==6.1
tox==3.23.1
tqdm==4.61.0
traitlets==5.0.5
translate==3.5.0
typing-extensions==3.10.0.0
tzlocal==2.1
uncertainties==3.1.6
undetected-chromedriver==3.0.2
urllib3==1.26.5
virtualenv==20.4.7
w3lib==1.22.0
wcwidth==0.2.5
webdriver-manager==3.4.2
webencodings==0.5.1
websocket-client==1.0.1
websockets==8.1
Werkzeug==2.0.2
win10toast-click==0.1.2
WooCommerce==3.0.0
wordninja==2.0.0
wsproto==1.0.0
XlsxWriter==1.4.3
yarg==0.1.9
yarl==1.6.3
zope.interface==5.4.0
